# Build / Debug
**/Debug/
**/Release/

# IDE metadata
.metadata/
*

# Keep source files
!**/Src/*.c
!**/Core/Src/*.c
!**/Inc/*.h
!**/Core/Inc/*.h
!nrf24-lib/rf24-library/*.c
!nrf24-lib/rf24-library/*.h
