# Ignore build folders
**/Debug/
**/Release/
**/build/

# Ignore IDE files
**/.settings/
*.launch
*.cproject
*.project
*.externalToolBuilders/
*.mxproject
**/.metadata/

# Keep source headers and c files
!**/Src/*.c
!**/Core/Src/*.c
!**/Inc/*.h
!**/Core/Inc/*.h

# Keep external library files
!nrf24-lib/rf24-library/*.c
!nrf24-lib/rf24-library/*.h
!nrf24-lib/rf24-master-stm/*.c
!nrf24-lib/rf24-master-stm/*.h
!nrf24-lib/rf24-slave-stm/*.c
!nrf24-lib/rf24-slave-stm/*.h
